{% extends "base.html.twig" %}
{% block body %}
	<div class="card">
		<div clas="row">
			<div class="col">
				<h1>{% trans %}app.title{% endtrans %} :
					{{ program.title}}</h1>
				<h3>{% trans %}app.season{% endtrans %} :
					{{ season.number}}</h3>
				<h2>{% trans %}app.episode{% endtrans %} :
					{{ episode.number}}
					{% trans %}app.title{% endtrans %} :
					{{ episode.title}}</h2>
				<p>{% trans %}app.synopsys{% endtrans %} :</p>
				<p>{{episode.synopsis }}:</p>
				<h1>{% trans %}comment{% endtrans %}</h1>
				{% for comment in comments %}

					<h2>{{comment.comment}}</h2>

					<h4>{{comment.author.firstname}}</h4>
					{% if (is_granted("ROLE_ADMIN")) %}
						<form method="post" action="{{ path('comment_delete', {'slug': program.id,'seasonId': season.id,'slugy':episode.id,'id':comment.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
							<button class="btn">{% trans %}Delete{% endtrans %}</button>
						</form>
					{% elseif (is_granted("ROLE_CONTRIBUTOR"))%}
						{% if comment.author == app.user %}

							<form method="post" action="{{ path('comment_delete', {'slug': program.id,'seasonId': season.id,'slugy':episode.id,'id':comment.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
								<button class="btn">{% trans %}Delete{% endtrans %}</button>
							</form>
						{% endif %}
					{% endif %}

				{% endfor %}

				{% if is_granted('ROLE_USER') %}
					{{ form_start(form) }}
					{{ form_widget(form) }}
					<button class="btn">{{ button_label|default('Add Comment') }}</button>

					{{ form_end(form) }}
				{% else %}
					<p>{% trans %}Login to leave your comment{% endtrans %}!</p>
				{% endif %}
			</div>


		</div>
	{% endblock %}
