{% extends "base.html.twig" %}
{% block body %}
<div class="card">
<div clas="row">
<div class="col">
<h1>Titre : {{ program.title}}</h1>
<h3>Saison : {{ season.number}}</h3>
<h2>Episode : {{ episodes.number}} / Titre : {{ episodes.title}}</h2>
<p>Synopsys :</p>
<p>{{episodes.synopsis }}:</p>
</div>

</div>
{% endblock %}