{% extends "base.html.twig" %}
{% block body %}
	<h1>{{ website }}
		{% trans %}app.home{% endtrans %}
		!</h1>
	<h1>{% trans %}app.all_series{% endtrans %}
		:
	</h1>


	<div class="container-fluid">
		<div class="row">
			{{ numberPrograms }}
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<input type='submit' value={% trans %} 'rechercher' {% endtrans %}>
			{{ form_end(form) }}
			{{ app.session.get('total')  }}

			{% if app.user == true %}
				{{app.user.firstname}}

			{% endif %}


			{% for program in programs %}
				<div class="col-sm-3">
					<div class="card-group" style="heigth: 500px;">
						<div class="card m-4 p-1" style="height:auto;">
							<h5 class="card-title, ">{{ loop.index }}.{{ program.title }}</h5>
							<div class="card-header">
								<img src="{{program.poster}}" style="height:480px;" class="card-img-top figure-img img-fluid " alt="{{ program.title }} poster">
							</div>
							<div class="card-body card text-white bg-dark m-4 p-1">
								<h5 class="card-title">{{ loop.index }}.{{ program.title }}</h5>
								<p class="card-text" style="height:220px;">{{ program.summary }}</p>
								<p class="card-text">-
									{% trans %}app.categorie{% endtrans %}
									:{{ program.category.name }}</p>
							</div>
							<a href="{{ path("program_show", { slug: program.slug }) }}" class="btn btn-primary m-4 p-1">{% trans %}app.see{% endtrans %}</a>
							{% if program.owner == app.user %}

								{% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_CONTRIBUTOR")) %}
									<a href="{{ path('program_edit', { 'slug': program.slug} ) }}" class="btn btn-primary m-4 p-1">{% trans %}app.edit{% endtrans %}</a>
								{% endif %}

							{% endif %}

						</div>
					</div>
				</div>
			{% else %}
				{% trans %}app.no_series_found{% endtrans %}.
			{% endfor %}
		</div>
	</div>
	<div class="container">
		<a class="btn btn-primary" href="{{ path('app_index') }}">

			{% trans %}app.back_Home{% endtrans %}

		</a>
	</div>
{% endblock %}
