{% extends "base.html.twig" %}
{% block body %}
{#{{ dump(episodes)}}#}
{#{{ dump(program)}}#}
	<div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">{{ program.title }}</h1>
			<p>{{ program.summary }}</p>
			<p>{% trans %}app.categorie{% endtrans %} :
				{{ program.category.name }}</p>
		</div>
		<div class="container-fluid">
			<p>
				{% trans %}app.id_season{% endtrans %} :{{season.id}}</p>
			<p>
				{% trans %}app.name_serie{% endtrans %} :{{season.program.title}}</p>
			<p>{% trans %}app.season{% endtrans %} :{{season.number}}</p>
			<p>Année de sortie :{{ season.year}}</p>
			<p>{% trans %}app.description{% endtrans %}
				{{season.description}}</p>

			{% for episode in episodes %}
				<div class="container-fluid">
					<divclass="rowm-5">
						<div class="col">
							<h1>
								{% trans %}app.title{% endtrans %} :
								{{episode.title}}</h1>
							<p>
								{% trans %}app.indice_episode{% endtrans %} :
								{{episode.id}}</p>

							{% trans %}app.episode{% endtrans %} :
							{{episode.number}}
							<p>{% trans %}app.synopsys{% endtrans %} :{{episode.synopsis}}</p>
						</div>
					</div>


				</div>
			</div>
      	<div>
				<a href="{{ path('program_episode_show',{ slug: program.slug , seasonId: season.id, slugy: episode.slug }) }}">
					{% trans %}app.see{% endtrans %}
				</a>
			</div>
			<div>
				<a href="{{ path('program_show', { slug: program.slug }) }}">
					{% trans %}app.back_season{% endtrans %}
				</a>
			</div>
		{% endfor %}
	{% endblock %}
